<a href="https://colab.research.google.com/github/sateesh42004/Python_scratch_to_advanced/blob/main/week-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **week-1**


# **day-1**
# **print statements**

# **1. Simple Print Statement**

In [12]:


print("1. Simple Print Statement: ",end="")
print("hello world")

1. Simple Print Statement: hello world


# **2.print multiple values**

In [7]:

name = "sateesh"
age = 20
print("2.print multiple values: ",end="")
print("name=",name," age=",age)

2.print multiple values: name= sateesh  age= 20

#**3. Formatted Print (f-strings)**

In [6]:

print("3. Formatted Print (f-strings): ",end="")
print(f"my name is {name} and my age is {age}")

3. Formatted Print (f-strings): my name is sateesh and my age is 20

#**4. Print with format()**

In [5]:

print("4.Print with format()",end="")
print("my name is {} and i am {} years old.".format(name,age))

4.Print with format()my name is sateesh and i am 20 years old.

#**5. Print with % Formatting (C-style)**

In [4]:

print("5.Print with % Formatting (C-style): ",end="")
print("my name is %s and i am %d years old."%(name,age))

5.Print with % Formatting (C-style): my name is sateesh and i am 20 years old.

# **Variables**
# A variable is a name that stores a value.

# You don’t need to declare type (Python is dynamically typed).

# Rules:
#  Can contain letters, digits, underscore (_).
#  Must start with a letter or _.
#  Cannot use reserved keywords (if, for, class, etc.).

#**3. Data Types**
# int → whole numbers → 10, -5, 0.
# float → decimal numbers → 3.14, -2.5.
# str → text → "Hello", 'Python'.
# bool → logical values → True, False.

In [10]:


a = 10        # int
b = 3.14      # float
c = "Hello"   # str
d = True      # bool

print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

#**4.Type Checking**
# type(x) → returns the data type of variable.

In [9]:

print(type(10))
# isinstance(x, type) → checks if variable belongs to given type.
print(isinstance(10,int))

<class 'int'>
True

# **5.Type Conversion**
# int(x) → convert to integer.
# float(x) → convert to float.
# str(x) → convert to string.
# bool(x) → convert to boolean (0, "", None → False; everything else → True).

In [11]:

a=10
b=12.4
print(type(a),type(b))
a=float(a)
b=int(b)
print(type(a),type(b))

<class 'int'> <class 'float'>
<class 'float'> <class 'int'>

# **DAY-2**

####1. complex numbers
# Python supports complex numbers in the form a + bj (where j is the imaginary unit).
# Useful in mathematics, engineering, signal processing, etc.

In [13]:
a = 34+8j
print("----complex numbers----")
print("comples numbers: ",a)
print("real number: ",a.real)
print("imaginary number: ",a.imag)

----complex numbers----
comples numbers:  (34+8j)
real number:  34.0
imaginary number:  8.0

#####2.Bytes Type
# A bytes object is an immutable sequence of bytes (0–255).
# Useful for working with binary data (files, images, networking).

In [14]:
print("----Bytes Type-----")
a = b"hello world"
print(a)
print(type(a))
print(a[0])        #ASCII value of 1st letter value

----Bytes Type-----
b'hello world'
<class 'bytes'>
104

#####3. None Type

In [15]:
print("----None Type----")
val = None
print("none variable: ",end="")
print(val)
print(type(val))

----None Type----
none variable: None
<class 'NoneType'>

######4.operators

In [16]:
print("-----operators-----")
a, b = 10, 3
print("add: ",a + b)   # 13
print("sub: ",a - b)   # 7
print("mul: ",a * b)   # 30
print("div: ",a / b)   # 3.333...
print("floor div: ",a // b)  # 3 (floor division)
print("reminder div: ",a % b)   # 1 (remainder)
print("power: ",a ** b)  # 1000 (power)

-----operators-----
add:  13
sub:  7
mul:  30
div:  3.3333333333333335
floor div:  3
reminder div:  1
power:  1000

######5.Comparison Operators

In [17]:
print("----Comparison Operators-----")
print("grater than: ",10 > 5)   # True
print("10 is same as 5: ",10 == 5)  # False

----Comparison Operators-----
grater than:  True
10 is same as 5:  False

#####6.Logical Operators

In [18]:
x = 15
print("-----Logical Operators-----")
print("AND Operators: ",x > 10 and x < 20)  # True
print("OR Operators: ",x > 20 or x == 15)  # True
print("NOT Operators: ",not(x > 10))        # False

-----Logical Operators-----
AND Operators:  True
OR Operators:  True
NOT Operators:  False

#####7.Assignment Operators

In [19]:
print("-----Assignment Operators----")
n = 5
n += 2   # n = n + 2
print(n) # 7

-----Assignment Operators----
7

# **DAY-3**

# **1.string methods**

In [20]:
text = "Hello World"
print(text.upper())        # HELLO WORLD
print(text.lower())        # hello world
print(text.replace("Hello", "Hi"))   # Hi World
print(text.split())        # ['Hello', 'World']
words = ["Python", "is", "fun"]
print(" ".join(words))     # Python is fun

HELLO WORLD
hello world
Hi World
['Hello', 'World']
Python is fun

# **2. List**
#A list is a mutable sequence (you can change values).

In [21]:
numbers = [10, 20, 30, 40, 50]
print(numbers[0])   # 10
print(numbers[-1])  # 50
###2.1 : Slicing
print(numbers[1:4])
numbers.append(60)     # add at end
numbers.insert(1, 15)  # insert at position 1
print(numbers)

numbers.remove(30)     # remove value 30
numbers.pop()          # removes last element
print(numbers)

10
50
[20, 30, 40]
[10, 15, 20, 30, 40, 50, 60]
[10, 15, 20, 40, 50]

# **3. Tuples**
# A tuple is like a list but immutable (cannot change values).
# Use () instead of [].

In [22]:
t = (10, 20, 30, 40)
print(t[0])      # 10
print(t[-1])     # 40
print(t[1:3])    # (20, 30)

10
40
(20, 30)

# **4. Sets**
# A set is a collection of unique, unordered elements.
# Use {} brackets.

In [23]:
s = {1, 2, 3, 3, 4}
print(s)   # {1, 2, 3, 4} (duplicates removed)
s.add(5)
s.remove(2)
print(s)
#4.1:Set Operations
# A set is a collection of unique, unordered elements.
# Use {} brackets.
print("-----Set Operations---- ")
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))        # {1, 2, 3, 4, 5}
print(a.intersection(b)) # {3}

{1, 2, 3, 4}
{1, 3, 4, 5}
-----Set Operations----
{1, 2, 3, 4, 5}
{3}

## **5. Dictionaries**
# Stores data as key-value pairs.

In [24]:
print("dictionarie")
student = {"name": "Sateesh", "age": 21, "course": "Python"}
print(student["name"])    # Sateesh
print(student.get("age")) # 21
#5.1:Update & Add
print("-----Update & Add----")
student["course"] = "AI"
student["grade"] = "A"
print(student)
#5.2: Delete
print("----Delete----")
student.pop("age")
del student["grade"]
print(student)

dictionarie
Sateesh
21
-----Update & Add----
{'name': 'Sateesh', 'age': 21, 'course': 'AI', 'grade': 'A'}
----Delete----
{'name': 'Sateesh', 'course': 'AI'}

# DAY-4

# **1.A: Conditional Statements**
# (a) if
# Used to execute a block when condition is True.

In [25]:
print("--------------1.A:using if condition----------------")
x = 12
if x>0:
  print("positive number")

--------------1.A:using if condition----------------
positive number

# **1.B:using if-else**

In [26]:
print("-------------1.B:using if-else--------------------")
x = -2
if x>0:
  print("positive number")
else:
  print("negative number")

-------------1.B:using if-else--------------------
negative number

# **1.C:if-elif-else**

In [27]:
print("------------- 1.C:if-elif-else--------------------")
x = 0
if x>0:
  print("positive number")
elif x<0:
  print("negative number")
else:
  print("number is Zero")

------------- 1.C:if-elif-else--------------------
number is Zero

# **1.D:nested if**

In [28]:
print("-------------1.D:nested if--------------------")
x = 13
if x>0:
  print("positive number")
  if x>10:
    print("number is grater than 10")
else:
  print("negative number")

-------------1.D:nested if--------------------
positive number
number is grater than 10

#  2. Loops

# **a)for loop**

In [29]:
print("----------------------2.A:for loop-------------------")
for i in range(5):
  print(i,end=" ")

----------------------2.A:for loop-------------------
0 1 2 3 4

# **b)while loop**

In [30]:
print("\n----------------2.B:while loop------------------------")
i=1
while i<=5:
  print(i,end=" ")
  i+=1

----------------2.B:while loop------------------------
1 2 3 4 5

# **(c) Loop control statements**
# break → exit loop

In [31]:
print("\n---------------2.C.1:using break-----------------------")
for i in range(5):
  if i==3:
    break
  print(i,end=" ")

---------------2.C.1:using break-----------------------
0 1 2

#  continue → skip current iteration

In [32]:
print("\n-------------2.C.2:using continue----------------------")
for i in range(5):
  if i == 3:
    continue
  print(i,end=" ")

-------------2.C.2:using continue----------------------
0 1 2 4

 **pass → do nothing (placeholder)**

In [33]:
print("\n---------------2.C.3:using pass------------------------")
for i in range(5):
  if i ==2:
    pass
  print(i,end=" ")

---------------2.C.3:using pass------------------------
0 1 2 3 4

# Day 5 – Functions (default, keyword, *args, kwargs) **bold text**

**1. What is a Function?**
# A function is a block of reusable code that performs a specific task.
# We use def keyword in Python.

# **using basic functions**

In [34]:
print("-----------------using basic functions-----------")
def greet():
  print("HELLO, welcome to Python!")
greet()   #calling function

-----------------using basic functions-----------
HELLO, welcome to Python!

# **Function with Parameters**

In [35]:
print("------------Function with Parameters------------")
def add(a,b):
  return a+b
print(add(3,2))

------------Function with Parameters------------
5

# **Default Arguments**

In [36]:
print("-------------Default Arguments------------------")
#If you don’t provide a value, the default is used.
def greet(name="sateesh"):
  print("hello mr ",name)
greet()
greet("sushanth")

-------------Default Arguments------------------
hello mr  sateesh
hello mr  sushanth

# **Keyword Arguments**
#You can specify arguments by name, order doesn’t matter.

In [ ]:

def student(name,age):
  print(f"name: {name} and age: {age}")
student(age=21,name="sateesh")

## *args (Variable number of positional arguments)
Collects multiple values into a tuple.

In [37]:
def add_num(*args):
  print(*args)
  return sum(args)
print(add_num(1,2,3,4,5))

1 2 3 4 5
15

# **kwargs (Variable number of keyword arguments)

In [38]:
print("------**kwargs (Variable number of keyword arguments)------")
def student_info(**args):
  print(args)
student_info(name="sateesh",age=21,course="Python")

------**kwargs (Variable number of keyword arguments)------
{'name': 'sateesh', 'age': 21, 'course': 'Python'}

# **Return Statement**
Functions can return values for further use.

In [39]:
print("------------return statement-------------------")
def sqrt(x):
  return x*x
print(sqrt(5))

------------return statement-------------------
25

# **Nested Functions**
You can define a function inside another.

In [40]:
print("------------Nested Functions--------------------")
def outer():
  def inner():
    print("text from inner function")
  inner()

outer()

------------Nested Functions--------------------
text from inner function

# **Day 6 – File Handling Basics (Read/Write Files)**

# **1. Why File Handling?**

Programs often need to store data permanently (e.g., logs, user input, reports).

File handling lets us create, read, update, and delete files in Python.

# **2. Opening a File**
# **Common Modes:**

"r" → Read (default, error if file not found)

"w" → Write (creates new/overwrites existing file)

"a" → Append (adds to file without overwriting)

"x" → Create (error if file exists)

"b" → Binary mode (images, PDFs)

"t" → Text mode (default)

In [41]:
file = open("timings.txt","r")

# **3. Writing to a File**

In [42]:
f = open("timings.txt","w")
f.write("Python is fun")
f.close()

# **4. Reading from a File**

In [43]:
f =open("timings.txt","r")
print(f.read())# Entire file
# print(f.read(10))   # First 10 chars
# print(f.readline()) # One line
# print(f.readlines())# List of all lines
f.close()

Python is fun

# **5. Appending to a File**

In [47]:
f = open("timings.txt","a")
f.write("This line is appended.")
f.close()

Python is funThis line is appended.This line is appended.This line is appended.This line is appended.

# **6. Best Practice – Using with**
Automatically closes the file.

In [48]:
with open("timings.txt","r") as f:
  data=f.read()
  print(data)

Python is fun .This line is appended.

# **7. Check if File Exists / Delete File**

In [50]:
import os
if os.path.exists("timings.txt"):
  print("file exists")
  os.remove("timings.txt")
else:
  print("file does not exist")

file exists

# **Practice Tasks**

# **Task 1: Write and read back**

In [51]:
with open("notes.txt","w") as f:
  f.write("my self my name is sateesh reddy.\n I am learning Python")
with open("notes.txt","r") as f:
  print(f.read())

my self my name is sateesh reddy.
 I am learning Python

# **Task 2: Append to a file**

In [55]:
with open("notes.txt","a") as f:
  f.write("this line are appended.")
with open("notes.txt","r") as f:
  data = f.read()
  print(data)

my self my name is sateesh reddy.
 I am learning Pythonthis line are appendedthis line are appendedthis line are appended.this line are appended.

# **Task 3: Count lines, words, and characters**

In [56]:
with open("notes.txt","r") as f:
  text=f.read()
lines = text.split("\n")
words = text.split()
chars = len(text)

print("lines: ",len(lines))
print("words: ",len(words))
print("characters: ",chars)

lines:  2
words:  20
characters:  122

# **Task 4: Store a list into a file**

In [57]:
friends = ["sateesh","joshnaa","madhu","vikas","abhi","krishna","hemanth","etc"]
with open("notes.txt","w") as f:
  for friend in friends:
    f.write(friend+"\n")
with open("notes.txt","r") as f:
  data = f.read()
  print(data)

sateesh
joshnaa
madhu
vikas
abhi
krishna
hemanth
etc

# **Day 7 – Mini Projects**

# **Mini Project 1: Calculator**
Features:

Supports Addition, Subtraction, Multiplication, Division

Uses functions for modularity

Runs continuously until the user exits

In [2]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b
def mod_div(a,b):
  if b==0:
    return "error! Divition by 0."
  return a%b
print("SIMPE CALCULATOR")
while True:
  choice = input("\noptions(+,-,*,/,%,0(to exit))\n enter your choice:")
  if choice in ["+","-","*","/","%"]:
    num1 = float(input("enter first number:"))
    num2 = float(input("enter second number:"))
    if choice =="+":
                print("result : ",add(num1,num2))
    if choice =="-":
                print("result : ",sub(num1,num2))
    if choice =="/":
                print("result : ",div(num1,num2))
    if choice =="*":
                print("result : ",mul(num1,num2))
    if choice =="%":
                print("result : ",mod_div(num1,num2))
  if choice == "0":
              print("Exiting the calculator.")
              break

  else:
    print("invalid choice")

SIMPE CALCULATOR

options(+,-,*,/,%,0(to exit))
 enter your choice:0
Exiting the calculator.

# **Mini Project 2: File Reader & Analyzer**
Features:

Reads any .txt file

Counts lines, words, characters

Displays file content

In [3]:
def content(filename):
  try:
    with open(filename,"r") as f:
      text = f.read()

    lines = text.split("\n")
    words = text.split()
    chars = len(text)

    print("\n FILE CONTENT\n")
    print(text)
    print("\n FILE DESCRIPTION\n")
    print("Lines: ",len(lines))
    print("words: ",len(words))
    print("charactors: ",chars)
  except FileNotFoundError:
    print("Eror: file not found")
filename = input("enter file name (with .txt): ")
content(filename)

enter file name (with .txt): notes.txt

 FILE CONTENT

sateesh
joshnaa
madhu
vikas
abhi
krishna
hemanth
etc


 FILE DESCRIPTION

Lines:  9
words:  8
charactors:  53